.mat-card{
    width: 55%;
    margin-left: 20%;
    text-align: center;
}


.option-element{
	margin: 30px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
