<md-sidenav-container class="container">
    <md-sidenav #sidenav mode="side" opened="true" [hidden]="!submitted">
		<!--<div (click)="back()" class="pointer mt30">
        <span  class="back-button">&lt;</span>
     	<span  class="back-separator" >|</span>
        <span class="back-separator"> Back To {{tutorial.type.label}} Form</span>
        </div>-->
        <div class="mt30"><span style="text-font:bold;margin-left:14px;color:black">Menu</span></div>
        <div *ngFor="let obj of tutoForm.value | keys" class="mt30"> 
            <span (click)="getContent(obj.value)"  class="pointer" [class.selected-elem]="obj.value.value === tuto">
         	<span class="selected-content">{{obj.value.value}}</span>
            </span>
        </div>

    </md-sidenav>

    <div>

       
        <app-tutorial-content [content]="content"></app-tutorial-content>

        <div class="mt30" [hidden]="submitted">

            <md-card>
                <md-card-content>

                    <h3> A Preconfigured Tutorial Is Set For You : </h3>
                    <p class="description">{{tutorial.type.description}}</p>
                    <div class="button-row">
                          <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.session.value}} </p>
                        <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.datastores.value}}</p>
                        <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.frontTechnology.value}} </p>
                        <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.mobileTechnology.value}} </p>
                      
                    </div>

                    <form #tutoForm="ngForm">
                        <input type="hidden" name="session" [ngModel]="tutorial.session">
                        <input type="hidden" name="datastores" [ngModel]="tutorial.datastores">
                        <input type="hidden" name="front" [ngModel]="tutorial.frontTechnology">
                        <input type="hidden" name="mobile" [ngModel]="tutorial.mobileTechnology">
                       
                       <button md-raised-button color="primary" type="submit" (click)="onSubmit(tutoForm.value)">Go !</button>
                    </form>

                </md-card-content>
            </md-card>
        </div>
    </div>
</md-sidenav-container>