.mat-card{
    width: 55%;
    margin-left: 20%;
    text-align: center;
}


.option-element{
	margin: 30px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.back-separator {
    color: #f9b611;
    padding-left: 3px;
    font-size: medium;
}

.back-button {
    color: #f9b611;
    font-size: medium;
}