<div style="margin-top:30px;">
<div [hidden] ="!submitted">Default configuration contains the following : {{tutoForm.value | json}}</div>
<md-card>
  <md-card-content>
  
  <h3> A Preconfigured Tutorial Is Set For You : </h3>  
     
     <div class="button-row">
     <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.datastores}} </p>
     <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.frontTechnology}} </p>
     <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.mobileTechnology}} </p>
     <p class="option-element"><button md-mini-fab><md-icon color="primary">check</md-icon></button> {{tutorial.session}} for session handler</p>
     </div>
     
    <form  #tutoForm="ngForm">
        <input type="hidden" name="datastores"  [ngModel]="tutorial.datastores">
        <input type="hidden" name="mobile"  [ngModel]="tutorial.mobileTechnology">
        <input type="hidden" name="front"  [ngModel]="tutorial.frontTechnology">
        <input type="hidden" name="session"  [ngModel]="tutorial.session">
        <button   md-raised-button color="primary" type="submit" (click)="onSubmit(tutoForm.value)">Complete !</button>
    </form>
    
  </md-card-content>
</md-card>
</div>