<md-sidenav-container class="container">

   <md-sidenav #sidenav mode="side" opened="true">
    <div class="mt30">
    	<p class="pointer" (click)="getContent('Element Menu 1')" >Element Menu 1 </p>
    	<p class="pointer" (click)="getContent('Element Menu 2')" >Element Menu 2 </p>
    	<p class="pointer" (click)="getContent('Element Menu 3')" >Element Menu 3 </p>
    	<p class="pointer" (click)="getContent('Element Menu 4')" >Element Menu 4 </p>
    </div>
    
  </md-sidenav>
 
 <div> 

 	 <app-guide-content [content]="content"></app-guide-content>
   
 </div>

</md-sidenav-container>