.menu-title {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.back-separator {
    color: #f9b611;
    padding-left: 3px;
    font-size: xx-large;
}

.back-button {
    margin-left: 15px;
    color: #f9b611;
    font-size: 10px ;
}
