<md-sidenav-container class="container">
    <md-sidenav #sidenav mode="side" opened="true">
    	<span>
     		<span *ngIf="!atRoot" (click)="goBack()" class="back-button pointer">&lt;</span>
     		<span *ngIf="!atRoot" class="back-separator">|</span>
     		<span class="selected-content menu-title" [innerText]="title"></span>
        </span>
        <div *ngFor="let section of sections" class="mt30">
            <span (click)="displaySectionByID(section.id)" class="pointer" [class.selected-elem]="section.id === currentSection"> 
         		<span class="selected-content">{{section.title}}</span>
            </span>
        </div>
    </md-sidenav>
    <div>
        <app-guide-content [content]="content"></app-guide-content>
    </div>
</md-sidenav-container>