<md-toolbar class="custom-toolbar">
    <span>
   		<a href="https://wakanda.github.io">
   			<img src="./assets/logo-wakanda.png" class="logo">
		</a>
   	</span>
    <span class="spacer"></span>
    <button md-menu-item routerLink="/guide" routerLinkActive="active">
        <span>Guide</span>
    </button>
    <a href="https://wakanda.github.io/api-reference/">
    <button md-menu-item>
        <span>API Reference</span>
    </button>
    </a>
    <button md-menu-item routerLink="/tutorial" routerLinkActive="active">
        <span>Tutorial</span>
    </button>
</md-toolbar>
<router-outlet></router-outlet>