/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto:bold|Roboto:italic');

body {
 height: 100vh;
 overflow:hidden;
 margin: 0px;
}

 [hidden] {
  display: none !important;
}

.container{
  height: 100vh;
  min-height: 100vh;
  
}

.container md-sidenav {
  max-width: 300px;
  min-width: 280px;
  border-right: 1px solid lightgrey;
  background-color: #fafafa;
}

.mat-sidenav-container{
	background-color:transparent !important;
	padding-bottom: 100px;
}

.mt30{
	margin-top:20px;
}

.pointer{
	cursor:pointer;
}

.description{
	color:grey;
	margin-left:10%;
	margin-right:10%
}

.back{
	cursor:pointer;
	border-bottom:1px solid whitesmoke;
	margin-left : 10px;
	text-decoration: underline;
}

.selected-elem{
	border-left:5px solid black;
}

.selected-elem .selected-content{
  color: black;
}

.selected-content{
  color: grey;
	margin-left:15px;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout h4 {
  margin-top: 0;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
  background-color: #e0e0e0;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
 }

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
.pl30{
  padding-left: 30px;
}

code{
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #efeded;
	border-radius: 3px;
}

.mat-sidenav , md-card-content.mat-card-content {
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
}

.gif-img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.center {
    text-align: center;
}