<div>
<md-grid-list cols="2" rowHeight="300px" >
  <md-grid-tile (click)="onSelect(type);" 
      *ngFor="let type of types"
      colspan="1"
      rowspan="1">

 	   <a md-raised-button mdTooltip="Information to be added about the types to give the user more visibility ....!" mdTooltipPosition="below" 
 	   color="accent" class="largeBtn"  [class.selected]="type === selectedTuto">{{type}}</a>
 
  </md-grid-tile>
</md-grid-list>
</div>

 <app-tutorial-detail [type]="selectedTuto"></app-tutorial-detail>
 