<div *ngIf="type" style="margin-top:10px">
<div [hidden]="type === 'Monolithic'">
  <!--<h3 [hidden]="type === 'Cutomized'"> A Preconfigured Tutorial Is Set For You : </h3>  -->
 <form  #tutoForm="ngForm">
<md-card>
  <md-card-content>
    <h2>Please select your Datastore(s)</h2>

    <section class="content-section">
    	 
    	 <ng2-select [placeholder]="'You can choose multiple datastores'" 
    	    [(ngModel)]="tutorial.datastores"
    	     [multiple]="true"
    	      name="datastores"
    	     [displayBy]="'value'"
    	     [options]="datastores">
    	 
    	 </ng2-select>
    	 
    </section>
      <div *ngIf="tutorial.datastores.length" style="margin-left:20px">
            <span> <b>You chose : </b></span>
            <span *ngFor="let option of tutorial.datastores" class="option-element">
                {{ option.value }}
            </span>
        </div>
  </md-card-content>
</md-card>
<br/>
<md-card>
  <md-card-content>
    <h2>Please select your Mobile Technology</h2>
	
    <md-radio-group class="content-section" [(ngModel)]="tutorial.mobileTechnology" name="mobile">
      <md-radio-button   *ngFor="let mob of mobs"  class="option-element"  [value]="mob.value">{{mob.value}}</md-radio-button>
    </md-radio-group>

  </md-card-content> 
</md-card>
<br/>
<md-card>
  <md-card-content>
    <h2>Please select your Web Technology</h2>

    <md-radio-group  class="content-section" [(ngModel)]="tutorial.frontTechnology" name="front" >
      <md-radio-button  *ngFor="let fr of fronts" [value]="fr.value" class="option-element">{{fr.value}}</md-radio-button>
    </md-radio-group >

  </md-card-content>
</md-card>
<br/>
<md-card>
  <md-card-content>
    <h2>Please select a session handler</h2>

     <md-radio-group  class="content-section" [(ngModel)]="tutorial.session" name="session" >
      <md-radio-button  *ngFor="let session of sessions" [value]="session.value" class="option-element">{{session.value}}</md-radio-button>
    </md-radio-group >

  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
 
    <section class="content-section">
    <button   md-raised-button color="primary" type="submit" (click)="onSubmit(tutoForm.value)">Complete !</button>
    </section>

  </md-card-content>
 <!--{{tutoForm.value | json}}-->
</md-card>
</form>

</div>
</div>