<div *ngIf="type" style="margin-top:10px">
<div [hidden]="type != 'Cutomized'">

<md-card>
  <md-card-content>
    <h2>Please select your Datastore(s)</h2>

    <section class="content-section">
      <md-checkbox *ngFor="let ds of datastores" (change)="onCahnge(ds)" class="checkbox-element">{{ds}}</md-checkbox>
    </section>

  </md-card-content>
</md-card>
<br/>
<md-card>
  <md-card-content>
    <h2>Please select your Mobile Technology</h2>

    <section class="content-section">
      <md-checkbox *ngFor="let mob of mobs"  (change)="onCahnge(mob);" class="checkbox-element">{{mob}}</md-checkbox>
    </section>

  </md-card-content>
</md-card>
<br/>
<md-card>
  <md-card-content>
    <h2>Please select your Web Technology</h2>

    <section class="content-section">
      <md-checkbox *ngFor="let fr of fronts" (change)="onCahnge(fr)" class="checkbox-element">{{fr}}</md-checkbox>
    </section>

  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
 	<!-- {{ elements | json }}-->
    <section class="content-section">
    <a md-raised-button color="primary" (click)="sendArray()" [disabled]="elements.length < 1">Go !</a>
    </section>

  </md-card-content>
 
</md-card>


</div>
</div>
